# Configuración de Django
DEBUG=True
SECRET_KEY=

# Configuración Base de Datos (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# OpenAI
OPENAI_API_KEY=