{% load static %}
<div class="container mt-4">
  <form method="post" action="{% url 'audits:add_process_requirement' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label>Proceso:</label>
      {{ form.process }}
      {% if form.process.errors %}
        <div class="text-danger small">{{ form.process.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label>Requisito:</label>
      {{ form.requirement }}
      {% if form.requirement.errors %}
        <div class="text-danger small">{{ form.requirement.errors }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
