{% load static %}
<div class="container">
    <form method="post" action="{% url 'audits:add_audit_report' %}" id="add-audit-report-form">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.requirement.label_tag }}
            {{ form.requirement }}
        </div>
        <div class="mb-3">
            {{ form.summary.label_tag }}
            {{ form.summary }}
        </div>
        <div class="mb-3">
            {{ form.strengths.label_tag }}
            {{ form.strengths }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
 
