{% load static %}
<div class="container">
    <form method="post" id="add-reevaluation-form" action="{% url 'risks:add_reevaluation' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label>Riesgo:</label>
            {{ form.risk }}
        </div>

        <fieldset class="mb-4">
            <legend>Rangos reevaluados</legend>

            <button type="button" id="suggest-reevaluation-ranges-btn" class="btn btn-info mb-3"
                data-url="{% url 'risks:get_reevaluation_ranges_suggestions' %}"><i class="bx bx-brain align-middle"></i> Sugerir rangos reevaluados
            </button>

            <div class="mb-3">
                <label>Severidad:</label>
                {{ form.severity }}
            </div>

            <div class="mb-3">
                <label>Ocurrencia:</label>
                {{ form.occurrence }}
            </div>

            <div class="mb-3">
                <label>Detección:</label>
                {{ form.detection }}
            </div>
        </fieldset>

        <fieldset class="mb-4">
            <legend>Nivel de riesgo reevaluado</legend>

            <button type="button" id="suggest-reevaluation-risk-level-btn" class="btn btn-info mb-3"
                data-url="{% url 'risks:get_reevaluation_level_suggestions' %}"><i class="bx bx-brain align-middle"></i> Sugerir nivel de riesgo reevaluado
            </button>

            <div id="reevaluated-risk-level-suggestion" style="font-weight: bold; font-size: 1.2em; margin-top: 0.5rem;"></div>
            
            <div class="mb-3">
                <label>Nivel de Riesgo:</label>
                {{ form.risk_level }}
            </div>

        </fieldset>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
