{% load static %}
<div class="container mt-4">
  <form method="post" action="{% url 'audits:add_checklist' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label>Plan:</label>
      {{ form.audit_plan }}
      {% if form.audit_plan.errors %}
        <div class="text-danger small">{{ form.audit_plan.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label>Pregunta:</label>
      {{ form.question }}
      {% if form.question.errors %}
        <div class="text-danger small">{{ form.question.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label>Orden:</label>
      {{ form.orden }}
      {% if form.orden.errors %}
        <div class="text-danger small">{{ form.orden.errors }}</div>
      {% endif %}
    </div>

<div class="form-check mb-3">
  <label for="{{ form.compliance.id_for_label }}" class="form-check-label">
    Cumplimiento
  </label>
  {{ form.compliance }}
  {% if form.compliance.errors %}
    <div class="text-danger small">{{ form.compliance.errors }}</div>
  {% endif %}
</div>


    <div class="mb-3">
      <label>Evidencia:</label>
      {{ form.evidence }}
      {% if form.evidence.errors %}
        <div class="text-danger small">{{ form.evidence.errors }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>

