{% load static %}
<div class="container">
    <form method="post" action="{% url 'audits:add_audited' %}" id="add-audited-form">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.requirement.label_tag }}
            {{ form.requirement }}
        </div>
        
        <div class="mb-3">
            {{ form.audited_user.label_tag }}
            {{ form.audited_user }}
        </div>
        
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
