{% load static %}
<div class="container">
    <form method="post" action="{% url 'audits:add_findings' %}" id="add-findings-form">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.requirement.label_tag }}
            {{ form.requirement }}
        </div>
        <div class="mb-3">
            {{ form.finding_text.label_tag }}
            {{ form.finding_text }}
        </div>
        <div class="mb-3">
            {{ form.classification.label_tag }}
            {{ form.classification }}
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
