{% load static %}
<div class="container">
    <form method="post" id="add-risk-identification-form" action="{% url 'risks:add_risk_identification' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label>Area:</label>
            {{ form.area }}
        </div>
        <div class="mb-3">
            <label>Proceso:</label>
            {{ form.process }}
        </div>

        <div class="mb-3">
            <button type="button" id="getSuggestionBtn" class="btn btn-info">Obtener sugerencias IA</button>
        </div>

        <div id="suggestionContainer" class="mt-4" style="display:none;">
            <strong>Sugerencias de la IA:</strong>
            <div id="suggestionList" class="mt-2"></div>
        </div>   
        
        <div class="mb-3">
            <label>Riesgo Identificado:</label>
            {{ form.identified_risk }}
        </div>
        <div class="mb-3">
            <label>Consecuencias:</label>
            {{ form.consequences }}
        </div>
        <div class="mb-3">
            <label>Fuente:</label>
            {{ form.source }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
