{% load static %}
<div class="container">
    <form method="post" id="edit-process-form" action="{% url 'processes:edit_process' process.id %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.objective.label_tag }}
            {{ form.objective }}
        </div>
        <div class="mb-3">
            {{ form.creation_date.label_tag }}
            {{ form.creation_date }}
        </div>
        <div class="mb-3">
            {{ form.process_code.label_tag }}
            {{ form.process_code }}
        </div>
        <div class="mb-3">
            {{ form.review.label_tag }}
            {{ form.review }}
        </div>
        <div class="mb-3">
            {{ form.review_date.label_tag }}
            {{ form.review_date }}
        </div>
        <div class="mb-3">
            {{ form.responsible.label_tag }}
            {{ form.responsible }}
        </div>
        <div class="mb-3">
            {{ form.internal_suppliers.label_tag }}
            {{ form.internal_suppliers }}
        </div>
        <div class="mb-3">
            {{ form.external_suppliers.label_tag }}
            {{ form.external_suppliers }}
        </div>
        <div class="mb-3">
            {{ form.inputs.label_tag }}
            {{ form.inputs }}
        </div>
        <div class="mb-3">
            {{ form.outputs.label_tag }}
            {{ form.outputs }}
        </div>
        <div class="mb-3">
            {{ form.internal_clients.label_tag }}
            {{ form.internal_clients }}
        </div>
        <div class="mb-3">
            {{ form.external_clients.label_tag }}
            {{ form.external_clients }}
        </div>
        <div class="mb-3">
            {{ form.documents.label_tag }}
            {{ form.documents }}
        </div>
        <div class="mb-3">
            {{ form.performance_indicators.label_tag }}
            {{ form.performance_indicators }}
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

