{% load static %}
<div class="container">
    <form method="post" id="edit-risk-treatment-form" action="{% url 'risks:edit-risk-treatment' treatment.id %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.risk.label_tag }}
            {{ form.risk }}
        </div>
        <div class="mb-3">
            {{ form.treatment_action.label_tag }}
            {{ form.treatment_action }}
        </div>
        <div class="mb-3">
            {{ form.responsible.label_tag }}
            {{ form.responsible }}
        </div>
        <div class="mb-3">
            {{ form.target_date.label_tag }}
            {{ form.target_date }}
        </div>
        <div class="mb-3">
            {{ form.actual_date.label_tag }}
            {{ form.actual_date }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
