{% load static %}
<div class="container">
    <form method="post" id="edit-process-form" action="{% url 'processes:edit_process' process.id %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.objective.label_tag }}
            {{ form.objective }}
        </div>
        <div class="mb-3">
            {{ form.creation_date.label_tag }}
            {{ form.creation_date }}
        </div>
        <div class="mb-3">
            {{ form.process_code.label_tag }}
            {{ form.process_code }}
        </div>
        <div class="mb-3">
            {{ form.review.label_tag }}
            {{ form.review }}
        </div>
        <div class="mb-3">
            {{ form.review_date.label_tag }}
            {{ form.review_date }}
        </div>
        <div class="mb-3">
            {{ form.sheet.label_tag }}
            {{ form.sheet }}
        </div>
        <div class="mb-3">
            {{ form.responsible.label_tag }}
            {{ form.responsible }}
        </div>
        <div class="mb-3">
            {{ form.positions.label_tag }}
            {{ form.positions }}
        </div>
        <div class="mb-3">
            {{ form.suppliers.label_tag }}
            {{ form.suppliers }}
        </div>
        <div class="mb-3">
            {{ form.inputs.label_tag }}
            {{ form.inputs }}
        </div>
        <div class="mb-3">
            {{ form.outputs.label_tag }}
            {{ form.outputs }}
        </div>
        <div class="mb-3">
            {{ form.clients.label_tag }}
            {{ form.clients }}
        </div>
        <div class="mb-3">
            {{ form.activities.label_tag }}
            {{ form.activities }}
        </div>
        <div class="mb-3">
            {{ form.resources.label_tag }}
            {{ form.resources }}
        </div>
        <div class="mb-3">
            {{ form.documents.label_tag }}
            {{ form.documents }}
        </div>
        <div class="mb-3">
            {{ form.measurements.label_tag }}
            {{ form.measurements }}
        </div>
        <div class="mb-3">
            {{ form.indicators.label_tag }}
            {{ form.indicators }}
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

