{% load static %}
<div class="container">
    <form method="post" id="edit-reevaluation-form" action="{% url 'risks:edit-reevaluation' reevaluation.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label>Riesgo:</label>
            {{ form.risk }}
        </div>
        <div class="mb-3">
            <label>Severidad:</label>
            {{ form.severity }}
        </div>
        <div class="mb-3">
            <label>Ocurrencia:</label>
            {{ form.occurrence }}
        </div>
        <div class="mb-3">
            <label>Detección:</label>
            {{ form.detection }}
        </div>
        <div class="mb-3">
            <label>Nivel de Riesgo:</label>
            {{ form.risk_level }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
