{% load static %}
<div class="container">
    <form method="post" id="edit-risk-treatment-form" action="{% url 'risks:edit-risk-treatment' treatment.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label>Riesgo:</label>
            {{ form.risk }}
        </div>
        <div class="mb-3">
            <label>Accion del Tratamiento:</label>
            {{ form.treatment_action }}
        </div>
        <div class="mb-3">
            <label>Responsable:</label>
            {{ form.responsible }}
        </div>
        <div class="mb-3">
            <label>Fecha Objetivo:</label>
            {{ form.target_date }}
        </div>
        <div class="mb-3">
            <label>Fecha Actual:</label>
            {{ form.actual_date }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
