{% load static %}
<div class="container">
    <form method="post" id="edit-contingency-plan-form" action="{% url 'risks:edit-contingency-plan' plan.id %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.risk.label_tag }}
            {{ form.risk }}
        </div>
        <div class="mb-3">
            {{ form.contingency_actions.label_tag }}
            {{ form.contingency_actions }}
        </div>
        <div class="mb-3">
            {{ form.responsible.label_tag }}
            {{ form.responsible }}
        </div>
        <div class="mb-3">
            {{ form.communicate_to.label_tag }}
            {{ form.communicate_to }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
