{% load static %}
{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->           
            <div id="scrollbar">
                <div class="container-fluid">      
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <!--Menu Comunicaciones-->
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'pages:wellcome_view' %}" role="button">
                                <i class="bx bx-home"></i> <span data-key="t-dashboards">Inicio</span>
                            </a>
                        </li>
<li class="nav-item">
    <a class="nav-link menu-link" href="#sidebarAreas" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAreas">
        <i class="bx bx-border-all"></i> <span data-key="t-areas">Áreas</span>
    </a>
    <div class="collapse menu-dropdown" id="sidebarAreas">
        <ul class="nav nav-sm flex-column">
            {% for area in all_areas %}
            <li class="nav-item">
                <a href="{% url 'pages:area_detail' area.id %}" class="nav-link">{{ area.name }}</a>
            </li>
            {% empty %}
            <li class="nav-item">
                <span class="nav-link disabled">No hay áreas disponibles</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</li>

                        <li class="nav-item">
                            <a class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="bx bxs-message"></i> <span data-key="t-dashboards">Comunicaciones</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'communications:communication_tables' %}" class="nav-link" data-key="t-analytics"> Tablas de Comunicación </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'communications:received_messages' %}" class="nav-link" data-key="t-analytics"> Mensajes recibidos </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'communications:sent_messages' %}" class="nav-link" data-key="t-analytics"> Mensajes enviados </a>
                                    </li>
                                    <!--<li class="nav-item">
                                        <a href="{% url 'communications:communication_table_review' %}" class="nav-link" data-key="t-analytics"> Revisiones </a>
                                    </li>  -->                                  
                                </ul>
                            </div>
                        </li>
                        <!-- Fin Menu Comunicaciones -->
                        <!--Menu Riesgos-->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse"
                                role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="bx bx-layer"></i> <span data-key="t-apps">Riesgos</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarApps">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'risks:risks' %}" class="nav-link" data-key="t-analytics"> Matrices de Riesgos </a>
                                    </li>
                                </ul>
                            </div>    
                        </li>
                        <!-- Fin Menu Riesgos -->
                         <!--Menu Auditorias-->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="bx bxs-dashboard"></i> <span data-key="t-dashboards">Auditorias</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'audits:audits_home' %}" class="nav-link" data-key="t-analytics"> Auditorias Internas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'audits:annual_audit_program' %}" class="nav-link" data-key="t-analytics"> Programa Anual</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'audits:annual_audit_plan' %}" class="nav-link" data-key="t-analytics"> Plan Anual </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'audits:conduct_internal_audits' %}" class="nav-link" data-key="t-analytics"> Realizar Auditoría </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Fin Menu Auditorias --> 
                        <!--Menu Procesos-->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="bx bx-selection"></i> <span data-key="t-dashboards">Procesos</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'processes:list_processes' %}" class="nav-link" data-key="t-analytics"> Ver Procesos </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'processes:kpis_processes' %}" class="nav-link" data-key="t-analytics"> KPIs </a>
                                    </li>
                                </ul>
                            </div>    
                        </li>
                        <!-- Fin Menu Procesos -->
                       

                        
                        <!-- Menu Autenticacion--> 
                        <!--<li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="bx bx-user-circle"></i> <span data-key="t-dashboards">Autenticación</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <li class="nav-item">
                                            <a href="{% url 'authentication:authentication_sign_in' %}" class="nav-link" data-key="t-analytics"> Iniciar Sesión </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'authentication:authentication_sign_up' %}" class="nav-link" data-key="t-analytics"> Nuevo Usuario </a>
                                        </li>
                                </ul>
                            </div>
                        </li>-->
                        <!-- Fin Menu Autenticacion --> 
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>

{% endblock sidebar %}
    
