{% load static %}
{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->           
            <div id="scrollbar">
                <div class="container-fluid">      
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <!--Menu Comunicaciones-->
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="bx bxs-message"></i> <span data-key="t-dashboards">Comunicaciones</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'communications:all_messages' %}" class="nav-link" data-key="t-analytics"> Tablas de Comunicación </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'communications:all_messages' %}"  class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCalendar" data-key="t-calender">
                                            Mensajes
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarCalendar">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="" class="nav-link" data-key="t-main-calender"> Departamentos </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li> 
                                    
                                </ul>
                            </div>
                        </li> 
                        <!-- Fin Menu Comunicaciones -->
                        <!--Menu Riesgos-->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse"
                                role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="bx bx-layer"></i> <span data-key="t-apps">Riesgos</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarApps">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'risks:risks' %}" class="nav-link" data-key="t-analytics"> Matrices de Riesgos </a>
                                    </li>
                                </ul>
                            </div>    
                        </li> 
                        <!-- Fin Menu Riesgos -->
                         <!--Menu Auditorias-->
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="bx bxs-dashboard"></i> <span data-key="t-dashboards">Auditorias Internas</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-key="t-analytics"> Programación Anual </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-key="t-analytics"> Plan Anual </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-key="t-analytics"> Auditorias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-key="t-analytics"> Requisitos Norma </a>
                                    </li>
                                </ul>
                            </div>
                        </li> 
                        <!-- Fin Menu Auditorias -->  
                        <!-- Menu Autenticacion -->  
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarAuth">
                                <i class="bx bx-user-circle"></i> <span data-key="t-authentication">Autenticación</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarAuth">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <li class="nav-item">
                                            <a href="{% url 'authentication:authentication_sign_in' %}" class="nav-link" data-key="t-analytics"> Iniciar Sesión </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'authentication:authentication_sign_up' %}" class="nav-link" data-key="t-analytics"> Nuevo Usuario </a>
                                        </li>
                                    </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Fin Menu Autenticacion --> 
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

{% endblock sidebar %}
    