{% extends "partials/base.html" %}
{% load static %}
{% block title %}Datatables{% endblock title %}
{% block extra_css %}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            {% block pagetitle %}
            {% include "partials/page-title.html" with pagetitle="Tables" title="Tablas de Comunicacion" %}
            {% endblock pagetitle %}

            {% for tb in communicationtable_info %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Código Tabla: {{ tb.Cod }}</h4>
                            <h4 class="card-title">Nº Revisión: {{ tb.Rev }}</h4>
                            <h4 class="card-title">Elaborado Por: {{ tb.Did.Ppl }}</h4>
                            <h4 class="card-title">Revisado Por: {{ tb.Che.Ppl }}</h4>
                            <h4 class="card-title">Aprobado Por: {{ tb.Pro.Ppl }}</h4>
                            </div>
                        <div class="card-body">
                            <table id="example"
                                class="table table-bordered dt-responsive nowrap table-striped align-middle"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Tipo de Comunicacion</th>
                                        <th>Asunto</th>
                                        <th>Emisor</th>
                                        <th>Receptor</th>
                                        <th>Canal</th>
                                        <th>Periodicidad</th>
                                    </tr>
                                </thead>
                                {% for msg in tb.Mes %}
                                <tbody>
                                    <td>{{ msg.Mes_Com_Typ.Doc}} {{ msg.Mes_Com_Typ.Tow}}</td>
                                    <td>{{ msg.Mes_Sub }}</td>
                                    <td>{{ msg.Mes_Tra.Ppl }}</td>
                                    <td>
                                    {% for rcp in msg.Mes_Rec %}
                                    {{ rcp.Ppl }}<b>
                                    {% endfor %}
                                    </td>
                                    <td>
                                    {% for chn in msg.Mes_Cha %}
                                    <li>{{ chn.Cha }}</li>
                                    {% endfor %}
                                    </td>
                                    <td>{{ msg.Mes_Per.Per }}</td>                               
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div><!--end col-->
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Tabla de Tablas de Comunicacion</h5>
                        </div>
                        <div class="card-body">
                            <table id="example"
                                class="table table-bordered dt-responsive nowrap table-striped align-middle"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 10px;">
                                            <div class="form-check">
                                                <input class="form-check-input fs-15" type="checkbox" id="checkAll"
                                                    value="option">
                                            </div>
                                        </th>
                                        <th>ID base datos</th>
                                        <th>Codigo</th>
                                        <th>Revision</th>
                                        <th>Fecha</th>
                                        <th>Nº de Mensajes</th>
                                        <th>Elaborado Por</th>
                                        <th>Revisado Por</th>
                                        <th>Aprobado Por</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tb in communicationtable_info %}
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check">
                                                <input class="form-check-input fs-15" type="checkbox" name="checkAll"
                                                    value="option1">
                                            </div>
                                        </th>
                                        <td>{{ tb.Id }}</td>
                                        <td>{{ tb.Cod }}</td>
                                        <td>{{ tb.Rev }}</td>
                                        <td>{{ tb.Dat }}</td>
                                        <td>{{ tb.Num_Mes }}</td>
                                        <td>{{ tb.Did.Ppl }}</td>
                                        <td>{{ tb.Che.Ppl }}</td>
                                        <td>{{ tb.Pro.Ppl }}</td>

                                            <div class="dropdown d-inline-block">
                                                <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-fill align-middle"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#!" class="dropdown-item"><i
                                                                class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                            View</a></li>
                                                    <li><a class="dropdown-item edit-item-btn"><i
                                                                class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                            Edit</a></li>
                                                    <li>
                                                        <a class="dropdown-item remove-item-btn">
                                                            <i
                                                                class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end col-->
                </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock extra_js %}